.h{
         
    color: red;
    background-color: yellow;
    border: 5px dashed black;
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    border-radius: 100px;
    text-shadow: 2px 2px 2px blue;
 }